@{
    ViewBag.Title = "Test Analyser";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">É possivel colocar um grafico com as notas com base nas materias.</p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>Informações Professores</h2>
        <p>Professor X - Email: Professor@emial.com.br</p>
        <p>Professor Y - Email: Professor@emial.com.br</p>
        <p>Professor Z - Email: Professor@emial.com.br</p>
    </div>
</div>